@use "variables" as *;

h1{
    text-align: center;
}

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    border: 20px;
    justify-content: center;
    flex-direction: row;
}

.gallery-card{
    margin: 20px;
    padding: 40px;
    text-align: center;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 2px 8px 0 #000000;
    //background-color: $colorSecundario;

    img{
        width: 200px;
        height: 200px;
        object-fit: fill;
        display: block;
    }
}

.card-overlay:hover{
    position: absolute;
    background-color: $colorOverlay;
    opacity: 0.5;
    transition: 0.4s;
}
